# Dependency Folders
node_modules
/build
/dist

# Expo
.expo/
*.log

# Metro Bundler
.turbo/

# TypeScript / JavaScript
*.tsbuildinfo
/coverage
/temp

# IDE and System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# npm cache
npm-debug.log*

# Native Build Artifacts (Android/iOS structure)
/android/build
/android/.gradle
/ios/build

# React Native Cache
*.swp
*.swo

# Storybook
.storybook/cache
.storybook/dist

# Build output artifacts
/out
/release
